/*comentario para a linha css*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

h1 {
    font-family: "Exo 2", serif;
    color:rgb(58, 2, 0)
    
}

p {
    font-family: "Exo 2", serif;
    font-size:20px;
}

img {
    width: 300px;
    margin: 0px 150px;
    
}

li {
    font-family:  "Exo 2", serif;
    font-size: 20px;
}

.link {
    background-color: rgb(250, 12, 12);
    font-family:  "Exo 2", serif;
    font-size: 20px;
    color: antiquewhite;
    padding: 10px 20px;
    border-radius: 30px 15px;
    
}


.link:hover {
    color: black;
    background-color: rgb(9, 255, 0);
    transition: 1s;
}

.containerConteudo{
    background-color: rgb(245, 197, 205);
    display: flex;
    flex-direction: row-reverse;
}

.container2{
    flex-direction: column;

}

.imgPersonagens{
      margin: 0%;

}

.logoimg{
    display: flex;
    justify-content: center;

}

.containerLogo {
    background-color: white;
}
